body {
    background-color: darkgrey;
}
#header {
    margin-left: auto;
    margin-right: auto;
    background-color: orange;
    width: 50%;
    padding-top: 5px;
    padding-bottom: 5px;
}
#header {
    text-align: center;
} 
#middle_content {
    margin-left: auto;
    margin-right: auto;
    background-color: lightgray;
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
} 
#middle_content > a {
    text-decoration: none;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    text-align: center;
    padding: 5px;
    background-color: orange;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}
#footer {
    height: 60px;
    background-color: orange;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
} 
.user_input {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.user_input > label {
    display: inline-block;
    width: 250px;
    font-weight: bold;
    text-align: left;
}
#submit_button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 20%;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
}
.error {
    width: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: red;
} 